<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangcaitao.admin.system.mapper.DepartmentEmployeeMapper">

    <select id="list" parameterType="DepartmentEmployeeQuery" resultType="DepartmentEmployeeBO">
        <choose>
            <when test="null != relationStatusCode and 0 == relationStatusCode">
                select employee.id employee_id, employee.name employee_name, employee.phone_number
                from employee
                where employee.id != 1
                and employee.id not in (select employee_id from employee_department where department_id = #{departmentId})
            </when>
            <otherwise>
                select employee_department.id, department.name department_name, employee.name employee_name, employee.phone_number
                from employee_department
                left join employee on employee_department.employee_id = employee.id
                left join department on employee_department.department_id = department.id
                where employee_department.department_id = #{departmentId} and employee.id != 1
            </otherwise>
        </choose>
        <if test="null != employeeName and '' != employeeName">and employee.name like concat(#{employeeName} '%')</if>
        <if test="null != phoneNumber and '' != phoneNumber">and employee.phone_number = #{phoneNumber}</if>
    </select>
</mapper>
